<h1 class="animated fadeIn fast">Sobre Comic App</h1>
<hr>
<p class="animated fadeIn">
Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo dolorum, unde temporibus laudantium aliquam nemo iure asperiores adipisci ipsa, impedit atque blanditiis incidunt perspiciatis. Fuga quasi et totam qui quam.
Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque dignissimos esse doloremque eveniet assumenda sapiente labore exercitationem tempora nesciunt aspernatur temporibus sint vel, eos molestias suscipit explicabo similique, laboriosam omnis?
Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias quia adipisci quod corporis nam ea iure quos architecto reprehenderit eaque! Placeat architecto mollitia temporibus animi quae minus aut id corporis.

</p>